/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos generales */
html,
body {
  max-width: 1600px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  background-color: #262b2f;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* h1 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
} */

h2 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #fff;
}

h3 {
  text-align: center;
  color: #fff;
}

p {
  font-size: 18px;
  line-height: 1.5;
  color: #aaaaaa;
}
/* Fonts */
h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 40px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 32px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 24px;
}

p {
  font-family: 'Lora', serif;
  font-weight: 400;
  font-size: 20px; 
}
/* Menu */
.nav {
  /* max-width: 1440px; */
  position: sticky;
  top: 0;
  background-color: #ffffff;
  height: 80px;
  color: #000000;
  width: 100%;
}

.nav__title {
  font-size: 1.5em;
  font-weight: 900;
}

.nav__logo {
  width: 45px;
  height: 45px;
}

.nav__img {
  width: 100%;
  height: 100%;
}

.nav__container {
  display: flex;
  height: 100%;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.nav__label,
.nav__input {
  display: none;
}

.nav__menu {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.nav__item {
  position: relative;
  border: none;
  padding: 0.2rem;
  color: #000;
  text-decoration: none;
  margin: 5px;
}
.nav__item::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
  width: 0%;
  height: 1px;
  background: #000;
  transition: width 0.5s ease, left 0.5s ease;
}
.nav__item:hover::after {
  width: 100%;
}

.container-menu {
  display: flex;
  justify-content: space-between;
  /* Agrego centrado vertical de los items dentro del flexbox */
  align-items: center;
}

.logo img {
  width: 75px;
  height: 75px;
}

/* Estilos específicos de la página index */
.hero {
  background-image: url('../images/hero_img.jpg');
  min-height: 100vh;
  background-size: cover;
  background-position: center right;
  background-repeat: no-repeat;
}

.hero div {
  min-height: inherit;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.hero div p {
  color: #fff;
}

.section {
  padding: 20px;
  display: flex;
  flex-flow: row wrap;
}

.section__article {
  padding: 20px 0;
  width: 50%;
  flex: 0 0 100%;
}

.section__article h2 {
  padding: 20px 0;
}
.section__img {
  display: block;
  width: 90%;
  margin: 0 auto;
}

.experiences {
  padding: 20px;
  margin: 40px 0;
  width: 100%;
}

.experiences__container {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.experiences__item {
  width: 100%;
}

/* Estilos específicos de la página empresa */

.container {
  padding: 30px 20px;
}

.about__section {
  padding: 30px 0;
}

.about__container {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.about__paragraph {
  padding: 20px 0;
}

.staff__section {
  padding: 30px 0;
}

.staff__container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.staff__item {
  margin-top: 60px;
}

.staff__item img {
  max-width: 250px;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
}

.staff__item h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
  text-align: center;
}

.staff__item p {
  font-size: 1.2em;
  line-height: 1.4;
  text-align: center;
}

/* Estilos específicos de la página servicios */

/* blog */

.blog__section {
  display: grid;
  grid-template-areas: 
    'header header header'
    'article1 article2 article3';
  padding-bottom: 100px;
  padding-top: 50px;
  gap: 20px;
}

.blog__section .blog__header {
  background-color: goldenrod;
  grid-area: header;
  display: flex;
  flex-direction: row;
}

.blog__section .blog__header .blog__header__image {
  width: 50%;
}

.blog__section .blog__header .blog__header__text {
  width: 50%;
}

.blog__section .blog__article{
  height: 300px;
  min-width: 250px;
  display: flex;
  flex-direction: column;
}

.blog__section .article1 {
  grid-area: article1;
}

.blog__section .article2 {
  grid-area: article2;
}

.blog__section .article3 {
  grid-area: article3;
}

.blog__section .blog__article .blog__article__image {
  width: 100%;
  height: 50%;
}

.blog__section .blog__article .blog__article__text {
  height: 50%;
}
@media (max-width: 768px) {
  /* Menu */
  .nav__label {
    display: block;
    cursor: pointer;
  }

  .nav__menu {
    position: fixed;
    top: 80px;
    bottom: 0;
    left: -100%;
    width: 100%;
    background-color: #0009;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: all 0.5s ease-in-out;
  }

  .nav__input:checked + .nav__menu {
    left: 0;
  }

  .nav__item {
    color: white;
  }
}

@media (min-width: 768px) {
  /* main */
  .experiences__container {
    flex-direction: row;
  }
  .section {
    display: flex;
    align-items: center;
  }
  .section__article {
    flex: 0 0 50%;
  }
  .section--reverse {
    flex-direction: row-reverse;
  }

  /* about */
  .about__container {
    flex-direction: row;
  }
  .about__article {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .blog__section {
    gap: 20px 0;
    grid-template-areas:
      'header'
      'article1'
      'article2'
      'article3';
    }
}
